* {
	box-sizing: border-box;
	margin: 0;
}

body > * + * { margin-top: .5em; }

body {
	padding: clamp(.5em, 5vmax, 3em);
	font: 100% Inter, sans-serif;
	font-feature-settings: 'tnum';

	color: black;
	background: white;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: black;
	}

	select {
		background-color: black !important;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNNDgwIDc0MiAyMDggNDcwbDg4LTg4IDE4NCAxODQgMTg0LTE4NCA4OCA4OC0yNzIgMjcyWiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPgo=) !important;
	}
}

@media (max-width: 400px) {
	table { width: 100%; }
}

table { border-collapse: collapse; }
tr { border: 1px solid currentcolor; }
td, th { padding: .5em; }
:is(td, th) + :is(td, th) { padding-left: 2em; }

table > :not(caption) { width: 100%; }
table caption { min-width: max-content; }

.clock {
	border: 1px solid currentcolor;
	border-bottom: none;

	padding: .5rem;
	font-style: italic;
	text-align: center;
}

select {
	border: none;
	border-bottom: 1px solid currentcolor;
	font: inherit;

	color: currentcolor;
	background-color: white;

	appearance: none;
	padding: 0 .25em;
	padding-right: 1.25em;
	background-size: 1em;
	background-repeat: no-repeat;
	background-position: right;

	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNNDgwIDc0MiAyMDggNDcwbDg4LTg4IDE4NCAxODQgMTg0LTE4NCA4OCA4OC0yNzIgMjcyWiIvPjwvc3ZnPgo=);
}

label {
	font-weight: bold;
	margin-right: .5em;
}